/* 전체 컨테이너 스타일 */
.container {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 카테고리 버튼 그룹 스타일 */
.category-buttons, .action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* 개별 버튼 스타일 */
.button {
    background-color: #ece4ff; /* 연한 보라색 */
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #d1c4e9; /* 살짝 더 진한 보라색 */
}

.button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

/* 버튼 선택 상태 스타일 */
.button.active {
    background-color: #a044ff; /* 보라색 */
    color: white;
}

/* 생성하기 버튼 스타일 */
.create-button {
    background-color: #4caf50; /* 녹색 */
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
}

.create-button:hover {
    background-color: #388e3c; /* 더 어두운 녹색 */
}

/* 에러 메시지 스타일 */
.error {
    color: red;
    font-size: 0.875em;
    margin-top: 10px;
}

/* 코스 리스트 스타일 */
.courseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* 코스 카드 스타일 */
.courseCard {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination span {
    margin: 0 10px;
}

.pagination button {
    background-color: #ece4ff; /* 연한 보라색 */
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #d1c4e9; /* 살짝 더 진한 보라색 */
}

.pagination button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}
